{% extends "base.html.twig" %}

{% block title %}{{ category.name }}{% endblock %}
{% block page_title %}{{ category.name }}{% endblock %}

{% block body %}
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for post in category.posts %}
                    <div class="col-md-4 mt-4">
                        <div class="card shadow-sm h-100">
                            <img class="img-fluid"
                                 src="{{ post.image }}" alt="{{ post.title }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <small class="text-muted">
                                    {{ post.user.fullName }} | {{ post.category.name }}
                                </small>
                                <p class="card-text">{{ post.content[:150] ~ '...' }}</p>
                                <a href="#" class="btn btn-primary">Lire la suite</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        Pas d'articles pour le moment.
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

